<!doctype html>
<html>
  <head>
    <title>Song mood classification based on lyrics</title>
	<link rel="stylesheet" href="/static/style.css">
  </head>
  <body>

<h2>Please enter the songtext below:</h2>



<form action="customresults" method="post">
  <dl>
	
  <dd><textarea cols="30" id="lyrics" name="lyrics" rows="10"></textarea>
  
  </dd>

  </dl>
<br/>
  <div>
	  <input type=submit value='Submit songtext'>
  </div>
</form>
<br/>
<div id='button'>
	  <form action="/">
	    <input type=submit value='Home'>
	  </form>
</div>


  </body>
</html>